.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}

.expansionFont {
    font-size: 60px;
}

.warningFont {
    font-size: 30px;
    color: rgba(255, 0, 0, 0.749);
}

.checkbox {
    width: 30px;
    height: 30px;
}