.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

.playerinputcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

.playerinputFont {
    font-size: 25px;
}